@using Bullspit.CertTracker.Web.Models.Shared
@model SiteVM

<div class="form-floating mb-3">
    @Html.EditorFor(m => m.Url, new { htmlAttributes = new { @class = "form-control", @placeholder = "http://www.mysite.com" }})
    @Html.LabelFor(m => m.Url)
    <span asp-validation-for="Url" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" }})
    @Html.LabelFor(m => m.Name)
    <span asp-validation-for="Name" class="text-danger"></span>
</div>